/* Estilo global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue; /* Cor de fundo clara para contraste com o container */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1200px; /* Limitar a largura máxima do container */
    margin: 0 auto; /* Centralizar o container */
    padding: 20px;
    background-color: #fff; /* Fundo branco para destacar o conteúdo */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1 {
    text-align: center;
    color: #333; /* Cor do texto */
    margin-bottom: 20px;
}

/* Botões */
.botaoAdd, .botaoRemove {
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s; /* Efeito de transição */
}

.botaoAdd {
    background-color: #28a745; /* Verde */
    margin-right: 10px; /* Espaçamento entre botões */
}

.botaoAdd:hover {
    background-color: #218838; /* Cor mais escura ao passar o mouse */
    transform: scale(1.05); /* Aumentar ligeiramente ao passar o mouse */
}

.botaoRemove {
    background-color: #dc3545; /* Vermelho */
}

.botaoRemove:hover {
    background-color: #c82333; /* Cor mais escura ao passar o mouse */
    transform: scale(1.05); /* Aumentar ligeiramente ao passar o mouse */
}

/* Lista de produtos e carrinho */
ul {
    list-style: none;
    padding: 0;
}

.produto-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd; /* Linha sutil entre os itens */
    margin-bottom: 15px;
}

.produto-item:last-child {
    border-bottom: none; /* Remover borda do último item */
}

.produto-imagem {
    width: 120px;  /* Ajuste conforme necessário */
    height: 120px; /* Ajuste conforme necessário */
    object-fit: cover; /* Faz a imagem cobrir o container, cortando as partes que excedem */
    border-radius: 8px; /* Bordas arredondadas para a imagem */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.produto-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.produto-info p {
    margin-bottom: 10px;
    color: #333; /* Cor do texto */
}

.produto-info .preco {
    font-weight: bold;
    color: #333; /* Cor do texto */
}

.carrinho-header {
    background-color: #92b8db; /* Cor do cabeçalho do carrinho */
    color: #fff;
    padding: 15px;
    border-radius: 8px 8px 0 0; /* Bordas arredondadas no topo */
    margin-bottom: 20px;
    text-align: center;
}

.carrinho-item {
    border-top: 1px solid #ddd; /* Linha sutil acima dos itens do carrinho */
    padding-top: 15px;
}

.tituloprod{
    font-weight: bold;
}